.App {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

 .fixed-header {
   top: 0;
   background-color: var(--light-pink);
   color: var(--dark-pink);
   padding-top: 5px;
    padding-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
 }
 .font{
  margin-left: 20px;
 }

 .fixed-footer {
   bottom: 0;
  background-color: var(--light-pink);
  color: var(--dark-pink);
  padding-top: 15px;
  padding-bottom: 5px;
  text-align:center;
  margin-right: 25px;
  margin-left: 25px;
 }



:root {
  --dark-pink: #BB577B;
  --light-pink: #D1A9B6;
  --white: #f1f1f1;
  --yellow: #e2dac2;
}
