.App {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

 .fixed-header {
   top: 0;
   background-color: var(--light-pink);
   color: var(--dark-pink);
   padding-top: 5px;
    padding-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
 }
 .font{
  margin-left: 20px;
 }
 .fixed-header::after {
   position: absolute;
   content: " ";
   width: 0%;
   height: 2px;
   background-color: var(--dark-pink);
   left: 50%;
   bottom: -2px;
   transform: all 0.3s ease-in-out;
 }
 .fixed-header:hover{
  cursor: pointer;
 }
.fixed-header:hover::after{
  cursor: pointer;
  width: 100%;
  left: 0;
}


 .fixed-footer {
   bottom: 0;
  background-color: var(--light-pink);
  color: var(--dark-pink);
  padding-top: 15px;
  padding-bottom: 5px;
  text-align:center;
  margin-right: 25px;
  margin-left: 25px;
 }
.fixed-footer:hover {
   cursor: pointer;
   text-decoration: underline;
 }




:root {
  --dark-pink: #3a4f5a;
  --light-pink: #7a9eb1;
  --white: #ffffff;
  --yellow: #edf7fa;
}
