
.forecast canvas {
  display: block;
  margin: 5px auto;
  float: left;
  padding-left: 20px;
}

.day {
  font-weight: 600;
  padding-top: 10px;
  float: left;
}
.max {
  font-weight: bolder;
}
.min {
  margin-left: 5px;
}

.temp {
  text-transform: capitalize;
  padding-top: 10px;
  float: left;
  margin-left: 10px;
}
