.forecast {
  text-align: center;
}
.forecast canvas {
  display: block;
  margin: 5px auto;
  float: none;
}

.day {
  font-weight: 600;
}
.max {
  font-weight: bolder;
}
.min {
  opacity: 0.8;
  margin-left: 10px;
}
