:root {
  --dark-grey: #132743;
  --white: #ffffff;
}

.weather {
  border: 1px solid rgb(37, 37, 37);
  border-radius: 8px;
  color: var(--dark-grey);
  padding: 16px;
  margin: 30px;
  line-height: 20px;
  background-color: rgba(217, 179, 199, 1);
}

.weather-summary {
  text-transform: capitalize;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.form-control {
  border: 1px solid var(--white) !important;
  margin: 3px;
  background: transparent !important;
}
.form-control:focus {
  border: 1px solid var(--white) !important;
  box-shadow: 0 0 0 0.25rem rgba(131, 49, 119, 0.25) !important;
}
.weather h1 {
  font-size: 24px;
  font-weight: 600;
}
.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  list-style: none;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.weather-detail {
  margin: 5px;
  padding: 10px;
}

canvas {
  margin-right: 10px;
  float: left;
}

.temperature {
  float: left;
  font-size: 52px;
  line-height: 1;
  padding-left: 10px;
}

.unit {
  font-size: 16px;
  position: relative;
  margin-left: 5px;
  top: -25px;
}

a {
  text-decoration: none !important;
  color: var(--dark-grey) !important;
}

.btn {
  margin: 3px;
}

.btn-outline-secondary {
  color: var(--dark-grey) !important;
  border-color: var(--white) !important;
  font-weight: 400 !important;
}
.btn-outline-secondary:hover {
  background-color: #cc878b !important;
  color: var(--white) !important;
  opacity: 0.7;
}
