
:root {
  --dark-grey: #132743;
  --white: #ffffff;
}
.location-icon {
  max-width: 25px;
  margin-left: 5px;
}
.weather {
  border-radius: 8px;
  color: var(--dark-grey);
  padding: 16px;
  margin: 30px;
  line-height: 20px;
  background-color: #f3eacf;
}

.weather-summary {
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.form-control {
  border: 1px solid rgb(189, 189, 189) !important;
  margin: 3px;
  background: var(--white) !important;
  padding-top: 15px ;
}
.form-control:focus {
  border: 1px solid var(--white) !important;
  box-shadow: 0 0 0 0.25rem rgba(131, 49, 119, 0.25) !important;
}
.weather h1 {
  text-align: start;
  font-size: 24px;
  font-weight: 600;
  padding-left: 10px;
}
.weather ul {
  text-align: left;
  padding: 0;
}

.weather li {
  list-style: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.weather-detail {
  margin: 5px;
  padding: 10px;
}

canvas {
  margin-right: 10px;
  float: left;
  padding-left: 10px;
}

.temperature {
  float: left;
  font-size: 52px;
  line-height: 1;
  padding-left: 10px;
}

.unit {
  font-size: 18px;
  position: relative;
  margin-left: 5px;
  top: -25px;
}

a {
  text-decoration: none !important;
  color: var(--dark-grey) !important;
}
button{
  background-color: var(--white)!important;
}

.btn-outline-secondary {
  color: var(--dark-grey) !important;
  border-color: var(--white) !important;
  font-weight: 400 !important;
}
.btn-outline-secondary:hover {
  background-color: #bdb59e !important;
  color: var(--white) !important;
  opacity: 0.7;
}
@media (max-width: 375px) {
  .temperature {
      font-size: 25px;
      line-height: 1;
      padding-left: 5px;
    }
   .unit {
     font-size: 10px;
      position: relative;
      margin-left: 5px;
      top: -25px;
        }
}